#include <windows.h>
#include "configdialog.h"

IDD_DIALOG_CONFIG DIALOGEX 0, 0, 406, 169
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SIDex - Input Plugin Configuration"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,352,151,50,14
    GROUPBOX        "Emulation",IDC_STATIC,5,4,193,68
    LTEXT           "**Default SID model:",IDC_STATIC,14,17,67,8,0,WS_EX_RIGHT
    LTEXT           "**Default clock speed:",IDC_STATIC,10,35,71,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_COMBO_SID,88,15,56,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_CLOCK,88,33,56,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Lock",IDC_CHECK_LOCKSID,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,148,17,32,10
    CONTROL         "Lock",IDC_CHECK_LOCKCLOCK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,148,35,32,10
    GROUPBOX        "Filters",IDC_STATIC,207,4,193,68
    EDITTEXT        IDC_EDIT_DEFAULTLENGTH,88,87,56,12,ES_AUTOHSCROLL
    LTEXT           "Default Duration:",IDC_STATIC,14,89,67,8,0,WS_EX_RIGHT
    LTEXT           "sec. [0=Infinite]",IDC_STATIC,148,89,74,8
    GROUPBOX        "Misc.",IDC_STATIC,5,77,395,68
    LTEXT           "**Playback core:",IDC_STATIC,14,54,67,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_COMBO_CORE,88,52,56,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDIT_DBPATH,88,105,304,12,ES_AUTOHSCROLL
    LTEXT           "DOCUMENTS Path:",IDC_STATIC,14,107,67,8,0,WS_EX_RIGHT
    LTEXT           "Path must be xxx/DOCUMENTS/ or xxx\DOCUMENTS\     |     ** Settings apply on restart.",IDC_STATIC,5,154,304,8
    LTEXT           "Set SID filters:",IDC_STATIC,217,18,67,8,0,WS_EX_RIGHT
    LTEXT           "6581 filter strength:",IDC_STATIC,217,36,67,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_COMBO_6581LEVEL,291,34,56,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Enable",IDC_CHECK_ENABLEFILTER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,291,17,38,10
    CONTROL         "Digi-Boost",IDC_CHECK_DIGIBOOST,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,351,55,48,10
    LTEXT           "8580 filter strength:",IDC_STATIC,217,55,67,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_COMBO_8580LEVEL,291,53,56,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END