#include <windows.h>
#include "configdialog.h"

IDD_DIALOG_CONFIG DIALOGEX 0, 0, 422, 272
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SIDex - Input Plugin Configuration"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "Apply",IDOK,357,251,50,14
    GROUPBOX        "Emulation",IDC_STATIC,8,5,198,88
    LTEXT           "**Default SID model:",IDC_STATIC,20,18,71,8
    LTEXT           "**Default clock speed:",IDC_STATIC,20,36,76,8
    COMBOBOX        IDC_COMBO_SID,97,16,56,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_CLOCK,97,34,56,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Lock",IDC_CHECK_LOCKSID,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,157,18,32,10
    CONTROL         "Lock",IDC_CHECK_LOCKCLOCK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,157,36,32,10
    GROUPBOX        "Filters",IDC_STATIC,216,5,198,88
    CONTROL         "Force",IDC_CHECK_FORCELENGTH,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,157,112,44,10
    GROUPBOX        "HVSC",IDC_STATIC,8,212,406,33
    LTEXT           "**Power delay:",IDC_STATIC,20,55,71,8
    EDITTEXT        IDC_EDIT_POWERDELAY,97,53,56,12,ES_CENTER | ES_AUTOHSCROLL
    CONTROL         "Random",IDC_CHECK_RANDOMDELAY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,157,55,40,10
    EDITTEXT        IDC_EDIT_DBPATH,97,224,308,12,ES_AUTOHSCROLL
    LTEXT           "DOCUMENTS Path:",IDC_STATIC,20,226,71,8
    LTEXT           "Path must be xxx/DOCUMENTS/ or xxx\\DOCUMENTS\\     |     ** Settings apply on restart.",IDC_STATIC,15,254,304,8
    LTEXT           "6581 filter strength:",IDC_STATIC,229,37,71,8
    CONTROL         "Enable SID filters",IDC_CHECK_ENABLEFILTER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,229,18,100,10
    LTEXT           "8580 filter strength:",IDC_STATIC,229,56,71,8
    GROUPBOX        "Song Lengths (sec, 0=Indefinite)",IDC_STATIC,8,98,198,52
    LTEXT           "**Sampling method:",IDC_STATIC,20,73,71,8
    COMBOBOX        IDC_COMBO_SAMPLEMETHOD,97,71,56,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "8580 digi-boost",IDC_CHECK_DIGIBOOST,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,229,73,80,10
    EDITTEXT        IDC_EDIT_DEFAULTLENGTH,97,110,56,12,ES_CENTER | ES_AUTOHSCROLL
    LTEXT           "Default duration:",IDC_STATIC,20,112,71,8
    LTEXT           "sec. or less",IDC_STATIC,157,130,39,8
    EDITTEXT        IDC_EDIT_MINLENGTH,97,128,56,12,ES_CENTER | ES_AUTOHSCROLL
    CONTROL         "Skip short songs:",IDC_CHECK_SKIPSHORT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,128,73,10
    GROUPBOX        "Misc",IDC_STATIC,8,155,198,52
    CONTROL         "Detect music player",IDC_CHECK_DETECTPLAYER,"Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,21,169,80,10
    CONTROL         "",IDC_SLIDE_6581LEVEL,"msctls_trackbar32",TBS_AUTOTICKS | TBS_TOP | WS_TABSTOP,298,32,110,12
    RTEXT           "0%",IDC_LABEL_6581LEVEL,372,44,31,8,0,WS_EX_TRANSPARENT
    CONTROL         "",IDC_SLIDE_8580LEVEL,"msctls_trackbar32",TBS_AUTOTICKS | TBS_TOP | WS_TABSTOP,298,51,110,12
    RTEXT           "0%",IDC_LABEL_8580LEVEL,372,63,31,8,0,WS_EX_TRANSPARENT

    GROUPBOX        "Fade-in/out",IDC_STATIC,216,98,198,52
    CONTROL         "Fade-out:",IDC_CHECK_FADEOUT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,228,130,73,10
    CONTROL         "Fade-in:",IDC_CHECK_FADEIN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,228,112,73,10
    CONTROL         "",IDC_SLIDE_FADEINLEVEL,"msctls_trackbar32",TBS_AUTOTICKS | TBS_TOP | WS_TABSTOP,298,107,110,12
    CONTROL         "",IDC_SLIDE_FADEOUTLEVEL,"msctls_trackbar32",TBS_AUTOTICKS | TBS_TOP | WS_TABSTOP,298,126,110,12
    RTEXT           "0.0s",IDC_LABEL_FADEINLEVEL,372,119,31,8,0,WS_EX_TRANSPARENT
    RTEXT           "0.0s",IDC_LABEL_FADEOUTLEVEL,372,138,31,8,0,WS_EX_TRANSPARENT
END
