#include <windows.h>
#include "configdialog.h"

IDD_DIALOG_CONFIG DIALOGEX 0, 0, 406, 169
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SIDex - Input Plugin Configuration"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,352,151,50,14
    GROUPBOX        "Emulation",IDC_STATIC,5,4,193,68
    LTEXT           "Default SID model:",IDC_STATIC,14,17,67,8,0,WS_EX_RIGHT
    LTEXT           "Default clock speed:",IDC_STATIC,14,35,67,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_COMBO_SID,88,15,56,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_CLOCK,88,33,56,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Lock",IDC_CHECK_LOCKSID,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,148,17,32,10
    CONTROL         "Lock",IDC_CHECK_LOCKCLOCK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,148,35,32,10
    GROUPBOX        "Output",IDC_STATIC,207,4,193,68
    LTEXT           "**Frequency:",IDC_STATIC,216,17,67,8,0,WS_EX_RIGHT
    LTEXT           "**Channels:",IDC_STATIC,216,35,67,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_COMBO_FREQUENCY,290,14,56,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_CHANNELS,290,33,56,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDIT_DEFAULTLENGTH,88,87,56,12,ES_AUTOHSCROLL
    LTEXT           "Default Duration:",IDC_STATIC,14,89,67,8,0,WS_EX_RIGHT
    LTEXT           "sec. [0=Inf]",IDC_STATIC,148,89,40,8
    GROUPBOX        "Misc.",IDC_STATIC,5,77,395,68
    LTEXT           "**Playback Core:",IDC_STATIC,14,54,67,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_COMBO_CORE,88,52,56,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDIT_DBPATH,88,105,304,12,ES_AUTOHSCROLL
    LTEXT           "Songlengths Path:",IDC_STATIC,14,107,67,8,0,WS_EX_RIGHT
    LTEXT           "Hint: Full path to ""Songlengths.md5""     |     ** Settings apply on restart.",IDC_STATIC,91,126,304,8
END